---
import KeystaticApp from '../../components/react/KeystaticApp';

export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic CMS</title>
  </head>
  <body>
    <KeystaticApp client:only="react" />
  </body>
</html>
